<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <div class="container">
        <h1>Welcome <a href="/add" class="btn add">Add pizza</a></h1>
      
        <hr>

        <h2>Available Pizza</h2>
<br>
    <% if (pizzas.length > 0) {%> 

        <div class="row">
        <% pizzas.forEach(pizza => { %>
              <div class="col sm6 md3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/pizza.jpg" class="card-img-top" alt="No imgage found">
                    <div class="card-body">
                      <h5 class="card-title">ingridients</h5>
                      <% const ingris = pizza.ingridients.split(',') %> 
                      <% ingris.forEach(ingri => { %>
                        <ul>
                            <li>   <%= ingri %> </li>
                        </ul>
                         
                     <% }) %> 
                      <a href="/details/<%= pizza._id%> " class="btn btn-primary">Details</a>
                    </div>
                  </div>
              </div>
       <% }) %> 
    </div>
    
     <% } else {%> 
            <h3> <em>There is no pizza listed yet -:)</em></h3>
      <% } %> 
        
    </div>
<%- include('./partials/footer.ejs') %> 
</html>